<a href="https://colab.research.google.com/github/irina-S123/-3/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
df = pd.read_csv('https://gbcdn.mrgcdn.ru/uploads/asset/5291776/attachment/817da6a75fe672f89064b6f2bb241a22.csv', sep= ';', encoding='cp1251')

df

,Субъект РФ,"Численность студентов, всего человек, 2015","Численность студентов, очная форма, человек, 2015","Численность студентов очно-заочная (вечерняя) форма, человек, 2015","Численность студентов заочная форма, человек, 2015","Численность студентов, всего человек, 2017","Численность студентов, очная форма, человек, 2017","Численность студентов очно-заочная (вечерняя) форма, человек, 2017","Численность студентов заочная форма, человек, 2017","Численность студентов, всего человек, 2018","Численность студентов, очная форма, человек, 2018","Численность студентов очно-заочная (вечерняя) форма, человек, 2018","Численность студентов заочная форма, человек, 2018","Численность студентов, всего человек, 2019","Численность студентов, очная форма, человек, 2019","Численность студентов очно-заочная (вечерняя) форма, человек, 2019","Численность студентов заочная форма, человек, 2019",Unnamed: 17,Unnamed: 18
0,Российская Федерация,4766479,2379588,149102,2237789,4245885,2380454,135014,1730417,4161672,2369787,155588,1636297,4068327,2386578,181477,1500272,NaN,NaN
1,Центральный федеральный округ,1455273,730933,72132,652208,1303941,744398,62833,496710,1286588,747407,69939,469242,1268510,766368,79526,422616,NaN,NaN
2,Белгородская область,53050,24803,290,27957,49007,23192,387,25428,47734,22192,576,24966,46787,23530,687,22570,NaN,NaN
3,Брянская область,34540,12894,624,21022,27046,11910,970,14166,25340,11180,1152,13008,23737,10903,1193,11641,NaN,NaN
4,Владимирская область,33461,13365,217,19879,27215,12358,292,14565,27577,11762,1395,14420,26397,11272,1901,13224,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,Амурская область,19361,10148,270,8943,15893,9616,214,6063,15116,9103,157,5856,14701,9152,175,5374,NaN,NaN
90,Магаданская область,4451,1274,0,3177,3244,1111,0,2133,3068,1115,15,1938,2724,1158,35,1531,NaN,NaN
91,Сахалинская область,8889,2948,99,5842,7048,2303,30,4715,5989,2035,104,3850,5988,2022,241,3725,NaN,NaN
92,Еврейская автономная область,3148,1132,41,1975,2100,1021,31,1048,2053,982,10,1061,2017,1028,8,981,NaN,NaN
93,Чукотский автономный округ,460,100,0,360,174,82,0,92,171,75,0,96,137,49,0,88,NaN,NaN

In [5]:
df = pd.DataFrame(df, columns = ['Субъект РФ', 'Численность студентов очно-заочная (вечерняя) форма, человек, 2015'])
df

,Субъект РФ,"Численность студентов очно-заочная (вечерняя) форма, человек, 2015"
0,Российская Федерация,149102
1,Центральный федеральный округ,72132
2,Белгородская область,290
3,Брянская область,624
4,Владимирская область,217
...,...,...
89,Амурская область,270
90,Магаданская область,0
91,Сахалинская область,99
92,Еврейская автономная область,41
93,Чукотский автономный округ,0

In [6]:
df = df.loc[2:19]
msk = df['Субъект РФ'].str.contains('область')
df = df[msk]
df

,Субъект РФ,"Численность студентов очно-заочная (вечерняя) форма, человек, 2015"
2,Белгородская область,290
3,Брянская область,624
4,Владимирская область,217
5,Воронежская область,2124
6,Ивановская область,188
7,Калужская область,303
8,Костромская область,466
9,Курская область,218
10,Липецкая область,1378
11,Московская область,4095
12,Орловская область,1534
13,Рязанская область,738
14,Смоленская область,488
15,Тамбовская область,430
16,Тверская область,45
17,Тульская область,590
18,Ярославская область,695

In [7]:
max_value = df['Численность студентов очно-заочная (вечерняя) форма, человек, 2015'].max()
df[df['Численность студентов очно-заочная (вечерняя) форма, человек, 2015'] == max_value]

,Субъект РФ,"Численность студентов очно-заочная (вечерняя) форма, человек, 2015"
11,Московская область,4095